@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "./input.css";
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply flex items-center justify-center not-italic cursor-pointer;
  }
  .btn-nolmal {
    @apply text-white font-sans text-sm font-normal  py-0.5 px-2 rounded-[35px] border-[1px] border-solid border-white;
  }
  .btn-primary {
    @apply text-bodyText rounded-[32px] text-base border-none font-bold w-[120px] h-[25px] bg-white;
  }
  .btn-primary-full {
    @apply bg-primary py-[17px] rounded not-italic text-sm font-normal text-white w-full;
  }
  .btn-sub-full {
    @apply bg-primary py-3 rounded not-italic text-sm font-normal text-white w-full;
  }
  .btn-second {
    @apply px-[45px] py-[7px] rounded not-italic text-sm font-normal text-second border-second border-solid border-[1px];
  }
  .btn-add {
    @apply border-[1px] border-solid border-gray_2 rounded w-full text-bodyText font-normal text-xs font-sans py-2;
  }

  .title {
    @apply text-base font-bold font-sans not-italic text-bodyText;
  }
  .title-desc {
    @apply text-gray_1 text-sm font-normal font-sans;
  }
  .btn-primary-key {
    @apply bg-primary px-1.5 py-1 text-white text-sm not-italic font-sans font-normal rounded;
  }
  .btn-primary-sub {
    @apply bg-gray_4 px-1.5 py-1 text-bodyText text-sm not-italic font-sans font-normal rounded;
  }
  .btn-login {
    @apply bg-primary text-white text-sm not-italic font-sans font-normal rounded px-6 py-3;
  }
  .btn-number-primary {
    @apply w-9 h-9 bg-primary text-white rounded;
  }
  .btn-number-second {
    @apply w-9 h-9 bg-white text-bodyText rounded;
  }
  .layout-primary {
    @apply px-4 py-3;
  }
  .f-normal {
    @apply font-sans font-normal not-italic text-sm text-bodyText;
  }
  .f-bold {
    @apply font-sans font-bold not-italic text-sm text-bodyText;
  }
  .f-base {
    @apply font-sans font-bold not-italic text-base text-bodyText;
  }
  .center {
    @apply flex justify-center items-center;
  }
  .btn-color {
    @apply w-[18px] h-[18px] rounded-sm;
  }
  .btn-sub {
    @apply font-semibold px-8 py-2 bg-primary rounded-full text-white not-italic font-sans;
  }
  .text-long {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }
}

#__next {
  background-color: rgb(242 242 242 / 20%);
}

.custom_scroll::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.single-select {
  flex: 1;
}
